:root {
    --primary-color: #ff6600;
    --heading-color: #232121;
    --text-color: rgba(22, 28, 45, 0.7);
    --bg-color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
}
a {
    text-decoration: none;  
}
/* HEADER BEGIN */
header {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
/* header content */
header .header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 ;
}
/* header logo  */
header .header__content .header__logo a {
    font-size: 36px;
    font-weight: 700;
    color: var(--bg-color);
}
/* header navbar */
header .header__content .header__navbar .navbar {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}
/* header form */
header .header__navbar .navbar form {
    margin-right: 8px;
}
header .header__navbar .navbar form input {
    position: relative;
    padding: 10px 51px 10px 19px;
}
header .header__navbar .navbar form i {
    position: absolute;
    right: 100px;
    font-size: 15px;
    top: 23px;
    cursor: pointer;
}
header .header__navbar .navbar > i {
    font-size: 24px; 
    color: var(--bg-color);
}
header .header__navbar .navbar > i:first-of-type {
    margin-right: 25px;
}
/* HEADER END */

/* BANNER BEGIN */
.banner {
    background-image:linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)),
     url(./../../blog/blog__img/banner2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    color: var(--primary-color);
    font-weight: 700;
    font-size: 18px;
}
.banner .banner__content {
    z-index: 99;
    color: var(--primary-color);
    cursor: pointer;
}
.banner .banner__content span {
    font-weight: 500;
}
/* BANNER END */

/* contact BEGIN */
.contact {
    padding: 90px 0;
}
.contact .container > .sub__title {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0;
}
.contact .container > .title {
    font-size: 38px;
    line-height: 1.26;
    font-weight: 600;
}
.contact .container > p {
    font-size: 18px;
    margin-bottom: 48px;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 400;
}
/* contact form */
.contact .container form input {
    width: 100%;
    font-weight: 300;
    display: block;
    background-color: #f7f7f7;
    font-size: 18px;
    border: 1px solid transparent;
    line-height: 1.55;
    height: 58px;
    padding: 12px 20px;
    border-radius: 6px;
    outline: none;
    transition: all .5s;
}
.contact .container form textarea {
    margin-top: 20px;
    resize: none;
    min-height: 200px;
    background-color: #f7f7f7;
    border: 1px solid transparent;
    width: 100%;
    height: 58px;
    border-radius: 6px;
    padding: 12px 20px;
    outline: none;
    transition: all .5s;
    font-size: 18px;
}
.contact .container form input:focus,
.contact .container form textarea:focus {
    border-color: var(--primary-color);    
}
.contact .container form .btn__form .btn {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 700;
    border-radius: 6px;
    border: 1px solid transparent;
    transition: all .5s;
    background-color: var(--primary-color);
}
.contact .container form .btn:hover {
    opacity: 0.8;
}
/* contact map */
.contact__map .map__content .contact__map__desc > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1px;
    color: var(--primary-color);
    display: block;
    font-family: 'Pacifico', cursive;
    margin-bottom: 0px;
}
.contact__map .map__content .contact__map__desc > h3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 1.26;
}
/* contact map info */
.contact__map .map__content .contact__map__desc .contact__map__info i {
    font-size: 20px;
    margin-top: 5px;
    color: var(--primary-color);
}
.contact__map .map__content .contact__map__desc .contact__map__info .map__info__desc p {
    font-size: 20px;
    color: #232121;
    font-weight: 600;
    margin-bottom: 0px;
}
.contact__map .map__content .contact__map__desc .contact__map__info .map__info__desc a {
    font-size: 18px;
    line-height: 1.55;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 400;   
}
.contact__map .map__content .contact__map__desc .contact__map__info .map__info__desc p:last-child {
    font-size: 18px;
    line-height: 1.55;
    color: rgba(22, 28, 45, 0.7);
    font-weight: 400;   
}
/* map item */
.contact__map .map__content .contact__map__item iframe{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background: #f7f7f7;
    padding: 10px;
}
/* CONTACT END */

/* FOOTER BEGIN */
footer {
    background-color: #000;
}
/* footer dinner */
footer .footer__content .footer__dinner > a {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    padding: 0;
    transition: all .5s;
    display: block;
    margin-bottom: 30px;
}
footer .footer__content .footer__dinner > a:hover {
    color: var(--primary-color);
}
footer .footer__content .footer__dinner p {
    font-size: 17px;
    line-height: 1.52;
    color: #a5a2a1;
}
footer .footer__content .footer__dinner .footer__dinner__icon i {
    margin-right: 10px;
    color: var(--primary-color);
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: var(--bg-color);
    width: 36px;
    height: 36px;
    line-height: 36px;
    border-radius: 6px;
    transition: .3s;
}
footer .footer__content .footer__dinner .footer__dinner__icon i:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}
/* footer categories*/
footer .footer__content .footer__categories h3,
footer .footer__content .footer__archives h3,
footer .footer__content .footer__subscribe h3
 {
    font-size: 22px;
    line-height: 1.27;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}
footer .footer__content .footer__categories a {
    font-size: 17px;
    color: #a5a2a1;
    line-height: 1.27;
    transition: all .5s;
}
footer .footer__content .footer__categories a:hover {
    color: var(--primary-color);
}
/* footer archives*/
footer .footer__content .footer__archives a {
    font-size: 17px;
    line-height: 1.27;
    transition: all .5s;
    color: #a5a2a1;
}
footer .footer__content .footer__archives a:hover {
    color: var(--primary-color);
}
/* footer subscribe*/
footer .footer__content .footer__subscribe p{
    font-size: 17px;
    line-height: 1.27;
    color: #a5a2a1;
}
footer .footer__content .footer__subscribe form input {
    padding: 14px 20px;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid transparent;
    outline: none;
    color: rgba(22, 28, 45, 0.5);
    background: var(--bg-color);
    border-radius: 6px;
}
footer .footer__content .footer__subscribe form input:focus {
    border-color: var(--primary-color);
}
footer .footer__content .footer__subscribe form button {
    padding: 12px 45px;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 700;
    transition: 0.3s ease-in;
    border-radius: 6px;
    border: 2px solid transparent;
    background-color: var(--primary-color);
    color: var(--bg-color);
}
footer .footer__content .footer__subscribe form button:hover {
    color: #fff;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    opacity: 0.8;
}
/* footer desc */
footer .footer__desc {
    padding: 19px 0;
    border-top: 1px solid rgb(255 255 255 / 5%);
    opacity: 0.8;
}
footer .footer__desc p {
    align-self: center;
    color: #ddd;
    font-size: 17px;
}
footer .footer__desc p  span{
    color: var(--primary-color);
}
/* FOOTER END */


/* back top top */
.back__to__top {
    position: fixed;
    bottom: 55px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    width: 50px;
    height: 50px;
    background: var(--primary-color);
    padding: 0;
    line-height: 50px;
    border-radius: 35px;
    transition: 0.3s ease-out;
    text-align: center;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }